<h1>Albums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%= album.name %></td>
    <td><%= album.enabled %></td>
    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <% if album.enabled %>
    <td><%= link_to 'Disable', disable_path(album.id), :method => :get %></td>
    <% else %>
    <td><%= link_to 'Enable', enable_path(album.id),  :method => :get %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create Album', new_album_path %>
