<h1>Albums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
    <th></td>
  </tr>

<% @albums.each do |album| %>
  <% if album.enabled && album.user_id == current_user.id%>
  <tr>
    <td><%= album.name %></td>
    <td><%= album.enabled %></td>
    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <td><%= link_to 'Destroy', delete_path(album.id), :method => :get %></td>
    <td><%= link_to 'Share', album_shares_path(album.id) %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'Create Album', new_album_path %>
