<h1>Albums</h1>

<% @albums.each do |album| %>
  <div id="album_container">
  <% if album.enabled && album.user_id == current_user.id%>
    <% if latest_photo(album.id) %>
      <% @image = image_tag latest_photo(album.id).photo.url(:medium)%>
    <% else %>
      <% @image = image_tag '/images/default_album.gif' %>
    <% end %>
    <p><%= link_to @image, album_path(album.id) %></p>
    <p><%= album.name %></p>
    <p>
    <%= link_to 'Share', album_shares_path(album.id) %> |
    <%= link_to 'Edit', edit_album_path(album) %> |
    <%= link_to 'Delete', delete_path(album.id), :method => :get %>
    </p>
  <% end %>
  </div>
<% end %>

<%= will_paginate @albums %>

<br />

<%= link_to 'Create Album', new_album_path %>
