<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<%= image_tag "/images/cute.jpeg" %>
<p>
<%= link_to "Move to other album", move_photo_path  %>
</p>
<%= image_tag "/images/starbucks.jpg", :size => "220x220" %>
<p>
<%= link_to "Move to other album", move_photo_path  %>
</p>

<p>
<%= link_to 'Edit', edit_album_path(@customer) %> |
<%= link_to 'Back', albums_path %>
</p>