<tr>
  <td><%= new_photos.id %></td>
  <td><%= image_tag new_photos.photo.url(:medium) %></td>
  <td><%= new_photos.album.users.username %></td>
  <td><%= new_photos.album.name %></td>
  <td><%= new_photos.created_at %></td>
</tr>