<h1>Welcome Superuser</h1>

<table>
  <tr>
    <td colspan="4">LIST OF USERS</td>
  </tr>
  <tr>
    <td>ID</td>
    <td>Username</td>
    <td>Email Address</td>
    <td>Created</td>
  </tr>
  <%= render :partial => 'all_users', :collection => @users %>

  <tr>
    <td colspan="4">LIST OF ALBUMS</td>
  </tr>
  <tr>
    <td>ID</td>
    <td>Album Owner</td>
    <td>Album Name</td>
    <td>Created</td>
  </tr>
  <%= render :partial => 'all_albums', :collection => @albums %>

  <tr>
    <td colspan="4">LIST OF USERS WHO REGISTERED TODAY</td>
  </tr>
  <tr>
    <td>ID</td>
    <td>Username</td>
    <td>Email Address</td>
    <td>Created</td>
  </tr>
  <%= render :partial => 'all_users', :collection => @registered_users_today %>

  <tr>
    <td colspan="4">LIST OF PHOTOS UPLOADED TODAY</td>
  </tr>
  <tr>
    <td>ID</td>
    <td>Photo</td>
    <td>From User</td>
    <td>From Album</td>
    <td>Uploaded</td>
  </tr>
  <%= render :partial => 'new_photos', :collection => @uploaded_photos_today %>

  <tr>
    <td colspan="4">BLOCKED HISTORY</td>
  </tr>
  <%= render :partial => 'blocked_history', :locals => {:bh => @blocked_users} %>
</table>